// html {
// 	font-family: sans-serif;
// 	font-size: 14px;
// }

// table {
// 	border: 1px solid lightgray;
// }

// tbody {
// 	border-bottom: 1px solid lightgray;
// }

// th {
// 	border-bottom: 1px solid lightgray;
// 	border-right: 1px solid lightgray;
// 	padding: 2px 4px;
// }

// tfoot {
// 	color: gray;
// }

// tfoot th {
// 	font-weight: normal;
// }

.wrapper {
	padding: 15px;
}

.title {
	font-weight: bold;
	font-size: 42px;
	text-align: center;
	margin: 8px 0 15px 0;
}

.search {
	margin-top: 10px;
	padding: 5px;
	text-align: center;
	border-radius: 8px;
}

.container-table {
	width: 100%;
	text-align: center;
	border: 1px solid #cdcd;
	font-size: 16px;
	th {
		border: 1px solid black;
	}
}

.container-body {
	tr {
		&:hover {
			background-color: #ddd;
		}
	}
}

.container-paginate {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	gap: 5px;
	button {
		border-radius: 5px;
		padding: 3px;
		width: 30px;
	}
	&-size {
		border-radius: 5px;
		padding: 3px;
		min-width: 80px;
	}
}
