.wrapper {
  padding: 16px;
  display: flex;
  flex-direction: column;
  min-height: 1000px;

  & > div {
    margin-bottom: 20px;
  }
}

.title {
  font-weight: bold;
  font-size: 40px;
}

.submitBtn {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  box-shadow: 0 0 15px 4px #0000000f;
  background: var(--primary-btn-color);
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: bold;
  transition: ease 0.3s;

  &:hover {
    background: #657ef8b0;
  }

  &:active {
    background: #657ef866;
  }
}

// date picker
.wrapperDatePicker {
  margin-bottom: 20px;

  & > label {
    font-weight: 500;
    font-size: 16px;
  }

  & > div > div {
    display: flex;
    margin-top: 3px;
  }
}

.datePicker {
  width: 98%;
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid gray;
  box-shadow: 0 0 15px 4px #0000000f;
}

.errorsMessage {
  color: red;
  margin-top: 2px;
}