.wrapper {
  display: flex;
  flex-direction: column;
  background: var(--background-color);
  min-height: 1vh;
}

.wrapper-body {
  display: flex;
  justify-content: space-between;
}

.side-left {
  background: white;
  width: 264px;
  display: flex;
  flex-direction: column;

  &-bigger {
    flex: 1;
    //background: red;
  }
}

.main-content {
  background: white;
  margin: 0 30px;
  padding: 0 16px;
  flex: 2;
}

.side-right {
  background: white;
  flex: 1;
}