.wrapper {
  display: flex;
  flex-direction: column;
  background: var(--background-color);
  min-height: 1000px;
}

.wrapper-body {
  display: flex;
  justify-content: space-between;
  margin: 15px 83px;

}

.side-left {
  background: white;
  width: 224px;
  height: 500px;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;

  &-bigger {
    flex: 1;
    background: red;
  }
}


.main-content {
  background: white;
  width: 224px;
  height: 500px;
  margin: 0 10px;
  flex: 2;
  border-radius: var(--border-radius);

}

.side-right {
  background: white;
  width: 224px;
  height: 500px;
  flex: 1;
  border-radius: var(--border-radius);

}